.DS_Store
*.pyc
*.xml
data_fetch/__pycache__/
database/__pycache__/
.idea/
venv/
other/
analysis_report/
report/
financial_statement_report/report/*
financial_statement_report/temp/*
data_fetch/fetch_err_log.txt
data_fetch/financial_statement/statement_of_comprehensive_income/*
data_fetch/financial_statement/balance_sheet/*
data_fetch/financial_statement/month_revenue/*
data_fetch/financial_statement/newest_publish_info_temp/*
data_fetch/financial_statement/stock_price/*
data_fetch/financial_statement/stock_info/*
database/db_err_log.txt
test.py
task_list.txt
