venv/
.idea/
other/
analysis_report/
report/
finanical_statement_report/report/
finanical_statement_report/temp/
.DS_Store
*.pyc
*.xml
test.py
data_fetch/otc_info_list.csv
data_fetch/twse_info_list.csv
data_fetch/fetch_err_log.txt
database/db_err_log.txt
