.DS_Store
*.pyc
*.xml
data_fetch/__pycache__/
database/__pycache__/
.idea/
venv/
other/
analysis_report/
report/
financial_statement_report/report/
financial_statement_report/temp/
test.py
data_fetch/otc_info_list.csv
data_fetch/twse_info_list.csv
data_fetch/fetch_err_log.txt
database/db_err_log.txt
